<div class="col-md-2"></div>

<div class="col-md-8 div-main">
<label>imagetest</label>
<form class="form-horizontal" #placementForm="ngForm" 
(ngSubmit)="submitData(mainphoto.files)">  
<div class="div-placement" style="background-color:beige; padding: 5px">
  <input #mainphoto type="file" name="mainphoto" ngModel />
</div>
<button class="btn btn-lg btn-primary btn-block" type="submit">submitData</button>
</form>  

<div *ngIf="str != null" class="div-placement">
<img src="data:image/jpg;base64,{{ str.body }}" style="max-width: 95%">
</div>
</div>
<div class="col-md-2"></div>