<p *ngIf="!placementlist"><em>Loading...</em></p>

<div *ngIf="placementlist" class="container">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8 div-main">
      <div *ngFor="let placement of placementlist" class="div-placement row">
        <div class="col-md-6">
          <img src="data:image/jpg;base64,{{placement.image_1}}" style="width: 250px;">
        </div>
        <div class="col-md-6">
          <h3>{{ placement.header }}</h3>
          <p>placement type: {{ placement.type }}</p>
          <p>placement location: {{ placement.location }}</p>
          <a href="http://localhost:3000/details">
            <button id="{{ placement.id }}" type="button" class="btn btn-primary btn-block" (click)="details($event)" >Detail information</button>
         </a>
        </div>
      </div>
    </div>
      <div class="col-md-2">
        <div class="div-main Menu">
            <p>Menu</p>
            <div style="padding: 5px">
                <a href="http://localhost:3000/placementform">
                  <button type="button" class="btn btn-primary btn-block">Make new offer</button>
                </a>
            </div>
        </div>
      </div>
    </div>
 </div>