<div class="col-md-2"></div>
<div class="col-md-8 div-main">
<form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
  <div class="container-fluid">
    <h2 class="form-signin-heading">Login</h2>
    <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password.</div>
    <br/>
    <label for="userLogin" class="sr-only">Email address</label>
    <input type="email" id="userLogin" name="userLogin" ngModel class="form-control" placeholder="User Name" required autofocus>
    <br/>
    <label for="userPassword" class="sr-only">Password</label>
    <input type="password" id="userPassword" name="userPassword" ngModel class="form-control" placeholder="Password" required>
    <br/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </div>
</form>
</div>
<div class="col-md-2"></div>
