.div-main {
    background-color: white; 
    margin-top: 5px; 
    border-style: solid; 
    border-width: 2px; 
    border-color: black
  }

.div-placement {
    white-space:nowrap;
    background-color: white; 
    margin: 10px; 
    border-style: solid;
    border-width: 2px; 
    border-color: black;
    padding: 5px;
}
.placements-image {
    margin: auto;
    width: 287px;
    height: 44px;
}
.mainphoto {
    margin-top: 5px;
    text-align: center;
}
.images {
    margin: auto;
}
.photo-div{
    margin: auto;
    height: 480px;
}