<div class="placements-image">
  <img src="../../assets/placements.png" style="height: 40px">
</div>

<div class="container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 div-main">
      <h3>{{ header }}</h3>
      <img src="data:image/jpg;base64,{{image_1}}" style="width: 300px">
      <p>"type :"{{ type }}</p>
      <p>"location :"{{location}}</p>
      <p>"entity :"{{entity}}</p>
      <p>"size :"{{size}}</p>
      <p>"fromDate :"{{fromDate}}</p>
      <p>"toDate :"{{toDate}}</p>
      <button *ngIf="isHaveEditRights()" class="btn btn-primary btn-block" (click)="deleteclick()">Delete</button>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>