<div class="placements-image">
        <img src="../../assets/placements.png" style="height: 40px">
</div>

<div class="container">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8 div-main">
          <div class="div-placement" onmouseover="this.className='onmouseover'" onmouseout="this.className='div-placement'">
              <div class="col-md-6">
              <img src="../../assets/advertize.png" style="height: 156px">
            </div>
        <div class="col-md-6">
            <h4>
                Если вы хотите разместить рекламу<br/>и ищете подходящее место или сайт?<br/>Найдите подходящее предложение<br/>и свяжитесь с владельцем
            </h4>
              <a routerLink="search">
              <button class="btn btn-primary btn-block">Поиск</button>
              </a>
        </div>
        </div>
        <div class="div-placement" onmouseover="this.className='onmouseover'" onmouseout="this.className='div-placement'">
            <div class="col-md-6">
                <h4>
                    Если у вас есть место для<br/>размещения рекламы или сайт,<br/>но никто о нем не знает. Создайте<br/>обьявление на нашем сервисе.
                </h4>
                  <a routerLink="registration">
                  <button class="btn btn-primary btn-block">Регистрация</button>
                  </a>
            </div>
            <div class="col-md-6">
                <img src="../../assets/billboard.png" style="height: 146px">
            </div>
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
 </div>