.div-main {
    background-color: lightgray; 
    text-align: center;
    margin-top: 5px; 
    border-style: solid; 
    border-width: 2px; 
    border-color: black
  }

.div-placement {
    white-space:nowrap;
    background-color: white; 
    margin: 10px; 
    border-style: solid;
    border-width: 2px; 
    border-color: black;
    padding: 5px;
}
.placements-image {
    margin: auto;
    width: 287px;
    height: 44px;
    border-style: solid; 
    border-width: 2px; 
    border-color: black
}
.menu {
    padding: 10px;
}